body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1024px) {
  .container {
    max-width: 920px;
  }
}

@media (min-width: 1439px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1440px;
  }
}

.pt-md {
  padding-top: 12px;
}

.pt-lg {
  padding-top: 36px;
}