:root {
  --color-primary: #1c73bb;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-primary);
}

.nav-links {
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  display: block;
  margin: 5px 0px;
}

@media (width >= 1024px) {
  .nav-links li {
    display: inline-block;
    margin: 0 20px;
  }
}

.nav-links li a {
  text-decoration: none;
  font-size: 1.25rem;
}

hr {
  border: 0;
  border-top: 1px solid lightgray;
  margin: 24px 0px;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

@media (width >= 1024px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}

.container {
  width: 100%;
  margin-inline: auto;
}

@media (width >= 1024px) {
  .container {
    max-width: 920px;
  }

  .dense-container {
    max-width: 66.6667%;
    margin-inline: auto;
  }
}

@media (width >= 1440px) {
  .container {
    max-width: 1140px;
  }
}

@media (width >= 1920px) {
  .container {
    max-width: 1440px;
  }
}

.tooltip-danger {
  margin-inline: 8px;
  background: red;
  padding: 0px 4px;
  border-radius: 100%;
  font-size: 6px;
  cursor: pointer;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border: 0.75em solid var(--color-primary);
  border-left-color: white;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 
  Utils
 */

.hidden {
  display: none;
}

.decoration-none {
  text-decoration: none !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.align-middle {
  vertical-align: middle !important;
}

.pb-xl {
  padding-bottom: 36px;
}

.pt-md {
  padding-top: 12px;
}

.pl-lg {
  padding-left: 16px;
}

.my-none {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
